@*@model WEB_Water.Data.Entities.Reading*@
@model WEB_Water.Models.AddReadingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Register new reading:</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (this.User.IsInRole("Worker"))
            {
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            }
            <br />
            <div class="form-group">
                <label asp-for="ReaderId" class="control-label"></label>
                <select asp-for="ReaderId" asp-items="Model.Readers" class="form-control"></select>
                <span asp-validation-for="ReaderId" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <ejs-datepicker ejs-for="Begin" id="datetimepicker1" format="yyyy-MM-dd" placeholder="Start Period" max="@DateTime.Now.AddYears(0)" floatLabelType="Auto" cssClass="e-outline">

                </ejs-datepicker>
                <span asp-validation-for="Begin" class="alert-danger"></span>
                @*<label asp-for="Begin" class="control-label"></label>
                <input asp-for="Begin" class="form-control" />
                <span asp-validation-for="Begin" class="text-danger"></span>*@
            </div>
            <br />
            <div class="form-group">
                <ejs-datepicker ejs-for="End" id="datetimepicker2" format="yyyy-MM-dd" placeholder="End Period" max="@DateTime.Now.AddYears(0)" floatLabelType="Auto" cssClass="e-outline">

                </ejs-datepicker>
                <span asp-validation-for="End" class="alert-danger"></span>
                @*<label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                    <label asp-for="RegistrationDateNewReading" class="control-label"></label>
                    <input asp-for="RegistrationDateNewReading" class="form-control" />
                    <span asp-validation-for="RegistrationDateNewReading" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="ValueOfConsumption" class="control-label"></label>
                <input asp-for="ValueOfConsumption" class="form-control" />
                <span asp-validation-for="ValueOfConsumption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register new reading" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

