@model WEB_Water.Models.AddReadingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit:</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
    
            <div class="form-group">
                <ejs-datepicker ejs-for="Begin" id="datetimepicker1" format="yyyy-MM-dd" placeholder="Start Period" max="@DateTime.Now.AddYears(-1)" floatLabelType="Auto" cssClass="e-outline">

                </ejs-datepicker>
                <span asp-validation-for="Begin" class="alert-danger"></span>

            </div>
            <br />
            <div class="form-group">
                <ejs-datepicker ejs-for="End" id="datetimepicker2" format="yyyy-MM-dd" placeholder="End Period" max="@DateTime.Now.AddYears(-1)" floatLabelType="Auto" cssClass="e-outline">

                </ejs-datepicker>
                <span asp-validation-for="End" class="alert-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="ValueOfConsumption" class="control-label"></label>
                <input asp-for="ValueOfConsumption" class="form-control" />
                <span asp-validation-for="ValueOfConsumption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
