

<!--================ Service section start =================-->
<section class="section-margin mb-5">
    <div class="container">
        <div class="section-intro pb-85px text-center">
            <h2>High Quality Service</h2>
            <div class="section-style"></div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/002-shield.png" alt="">
                    </div>
                    <h3>Secured Activity</h3>
                    <p>Safe registration of your consumptions</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/004-home-page.png" alt="">
                    </div>
                    <h3>Expert team</h3>
                    <p>Get the best without paying more</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/001-unlock.png" alt="">
                    </div>
                    <h3>Recover your account</h3>
                    <p>Reset or recover your account</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/007-server-1.png" alt="">
                    </div>
                    <h3>Strong Backup</h3>
                    <p>Your data is safely backup</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/008-mail.png" alt="">
                    </div>
                    <h3>Email Service</h3>
                    <p>You can contact us anytime</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="card-service text-center">
                    <div class="service-icon">
                        <img src="~/images/009-art.png" alt="">
                    </div>
                    <h3>Data Analysis</h3>
                    <p>You can check your consumptions 24h</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Service section end =================-->



