<div class="about-section">
    <center>
        <h1>About Us Page</h1>
        <p>Tajo Water Company is a company that register the consume of water in many homes and companies in Portugal</p>
        <p>We started our activity in 2021</p>
    </center>
</div>

<h2 style="text-align:center">Our Goals</h2>
<br />
<br />
<div class="row" style="margin:auto; width: 60%;">

    <div class="column">
        <div class="card">
            
            <div class="container">
                <h2>Competitive prices</h2>
                <p class="title">Good service for less money</p>
                <p>So our customers don't go away</p>
                <img src="/images/coins.jpg" alt="Mike" style="width:100%">
               
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="">
           
            <div class="container">
                <h2>Happy customers</h2>
                <p class="title">Best service in the market</p>
                <p>Get the best without paying more</p>
                <img src="/images/coins.jpg" alt="Mike" style="width:100%">
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            
            <div class="container">
                <h2>Good service</h2>
                <p class="title">Because we have the best team</p>
                <p>We received the "WaterAward2021"</p>
                <img src="/images/coins.jpg" alt="Mike" style="width:100%">
                
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            
            <div class="container">
                <h2>24h Support</h2>
                <p class="title">Expert team to help you</p>
                <p>Contact us whenever you need it</p>
                <img src="/images/coins.jpg" alt="Mike" style="width:100%">
                
            </div>
        </div>
    </div>

</div>

<br />
<br />
