@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <div class="column">
        <div class="card">

            <div class="container">
                <h1>Welcome</h1>-->
@*<h2>Tajo Water Company</h2>*@
<!--<br />
                <p><em>Our goal is to have happy customers</em></p>
                <br />
                <img src="/images/aguas_logo.jpg" alt="Mike" style="width:auto; height:auto;">
                <br />
            </div>
        </div>
    </div>
</div>-->
<section class="section video" data-section="section5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="left-content">

                        <span>Our goal is to have happy customers</span>

                        <h4>
                            We are working every day
                        </h4>
                        <h4><em>to improve</em></h4>
                        <h4>our service for you</h4>

                    </div>
                </div>
                <div class="col-md-6">
                    <article>
                        <div class="video-caption">
                            <img src="~/images/aguas_logo.jpg" style="width:auto; height:auto;">
                        </div>
                    </article>
                </div>
            </div>
        </div>
</section>


