@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="column">
        <div class="card">

            <div class="container">
                <h1>Welcome</h1>
                <p class="title">Tajo Water Company</p>
                <p>You wouldn't find better service in the market</p>
                <img src="/images/aguas_logo.jpg" alt="Mike" style="width:100%">

            </div>
        </div>
    </div>
</div>
