@{
    ViewData["Title"] = "Privacy Policy";
}


<section class="intro-single">
    <div class="container">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-2 text-center">
                    <p><i class="fas fa-user-secret fa-5x"></i><br /></p>
                </div>
                <div class="col-md-10">
                    <h3>All Rights Reserved</h3>
                    <p>Tajo Water Company registers the consumptions of water in many homes and companies in Portugal</p>

                </div>
            </div>
        </div>
    </div>
</section>
