<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_Water</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
            ul {
                font-weight: bolder;
            }
            h6{
                font-weight: bolder;
            }
        </style>

 
</head>
<body>

  
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/gotaLogo2.jpg"/>Tajo Water Company </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FormNewReader">Join us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6 style:"font-weight: bolder;">Customers</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Show all</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Register new one</a></li>
                                        </ul>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>Other users</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="IndexOthers">Show all</a></li>
                                            @*<li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Register new one</a></li>*@
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>List of Readers</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readers" asp-action="Index">Show all</a></li>

                                        </ul>

                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>Prices of Consumption</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PriceControlCheck">Check prices</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="PriceControlUpdate">Update prices</a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </li>
                        }
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Worker"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Worker</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>Readers</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readers" asp-action="Index">Show all</a></li>
                                            @*<li><a class="dropdown-item" asp-area="" asp-controller="Readers" asp-action="Create">Register new one</a></li>*@
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>Readings</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readings" asp-action="Index">List of Readings</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readings" asp-action="Create">Register new reading</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Bills" asp-action="Index"><h6>Bills</h6></a></li>
                                </ul>
                            </li>
                        }

                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Customer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer Area</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="" asp-action=""><h6>Readings</h6></a>
                                        <ul>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readings" asp-action="Index">Show all</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Readings" asp-action="Create">Register new one</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Bills" asp-action="BillSummary"><h6>Bills</h6></a></li>
                                </ul>
                            </li>
                        }


                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (this.User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" style="border-right: 2px solid black;" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>

                            </li>

                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div>
                            <center>
                             <h4> <img src="~/images/gotaLogo3.jpg"/>Tajo Water Company</h4>
                                <p>
                                    Rua Jau
                                    <br>
                                    1300-312 Lisboa
                                    <br><br>
                                    <strong>Phone:</strong> +351 22 222 2222<br>
                                    <strong>E-mail:</strong> geral@webwater.com<br>
                                </p>
                                <div>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-skype"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>

                                </div>
                            </center>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="CompanyDetails">Companies</a></li>
                            <li>Particulars</li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Contact us</h4>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Get in Touch</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FormNewReader">New Customers</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our headquarters</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.6820491657454!2d-9.190342284446972!3d38.70214716603407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd1cdf51dba5%3A0xaaa77b600a1271fe!2sCINEL%20-%20Centro%20de%20Forma%C3%A7%C3%A3o%20Profissional%20da%20Ind%C3%BAstria%20Electr%C3%B3nica%2C%20Energia%2C%20Telecomunica%C3%A7%C3%B5es%20e%20Tecnologias%20da%20Informa%C3%A7%C3%A3o!5e0!3m2!1spt-PT!2spt!4v1631716445213!5m2!1spt-PT!2spt" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <br />
                <br />
                <center>
                    &copy; 2021 <strong><span>Tajo Water Company</span></strong>. <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </center>

            </div>
            <div class="credits">
                <center>
                    <p>Software design as a student of CINEL</p>
                </center>
                <br />
            </div>
        </div>
    </footer> 
    
    
    @*End Footer*@ 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)





</body>
</html>
