@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"]</h2>



<section class="intro-single">
    <div class="container">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-2 text-center">
                    <p><i class="fas fa-check-circle fa-5x"></i><br />Email Confirmed</p>
                </div>
                <div class="col-md-10">
                    <h3>Thank you for confirming your email. </h3>
                    <p>The first time you log in, it will be asked to change the Password.<br />
                </div>
            </div>
        </div>
    </div>
</section>