@model WEB_Water.Models.RegisterNewUserViewModel

@{ ViewData["Title"] = "Edit"; }

<main id="main">

   
        <div class="container">
            <br /><br />
            <center><h2>Edit User</h2></center>

            <div>
                <h4>User:</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="form-group">
                                <b><label asp-for="FirstName" class="control-label"></label></b>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <b><label asp-for="LastName" class="control-label"></label></b>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName">Username</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Nif">NIF</label>
                                <input asp-for="Nif" class="form-control" />
                                <span asp-validation-for="Nif" class="text-warning"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsCustomer" /> @Html.DisplayNameFor(model => model.IsCustomer)
                                </label>
                            </div>

                            <br />

                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                @if (Model.IsCustomer == true)
                                {
                                    <a asp-action="Index" class="btn btn-success">Back to list</a>
                                }
                                else
                                {
                                    <a asp-action="IndexOthers" class="btn btn-success">Back to list</a>
                                }
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  
</main><!-- End #main -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
