@model WEB_Water.Models.PriceControlViewModel

<center><h2>Prices of Consumption</h2></center>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <center> @Html.DisplayNameFor(model => model.Section)</center>
            </th>
            <th>
                <center>  @Html.DisplayNameFor(model => model.LowerBound)</center>
            </th>
            <th>
                <center> @Html.DisplayNameFor(model => model.UpperBound)</center>
            </th>
            <th>
                <center>  @Html.DisplayNameFor(model => model.Price)</center>              
            </th>
     
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
               <center><h3>1</h3></center>
            </td>
            <td>
                <center><h3>0</h3></center>
            </td>
            <td>
                <center><h3>5</h3></center>
            </td>
            <td>
                <center><h3>0,30</h3></center>
            </td>

        </tr>
        <tr>

            <td>
                <center><h3>2</h3></center>
            </td>
            <td>
                <center><h3>5</h3></center>
            </td>
            <td>
                <center><h3>15</h3></center>
            </td>
            <td>
                <center><h3>0,80</h3></center>
            </td>

        </tr>
        <tr>

            <td>
                <center><h3>3</h3></center>
            </td>
            <td>
                <center><h3>15</h3></center>
            </td>
            <td>
                <center><h3>25</h3></center>
            </td>
            <td>
                <center><h3>1,20</h3></center>
            </td>

        </tr>
        <tr>
            <td>
                <center><h3>4</h3></center>
            </td>
            <td>
                <center><h3>25</h3></center>
            </td>
            <td>
                <center><h3>-</h3></center>
            </td>
            <td>
                <center><h3>1,60</h3></center>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />