<section class="intro-single">
    <div class="container">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-2 text-center">
                    <p><i class="fas fa-tools fa-5x"></i><br />Under Construction</p>
                </div>
                <div class="col-md-10">
                    <h3>OPPSSS!!!! Sorry...</h3>
                    <p>Sorry, this page is under construction.<br />Please go back to the previous page to continue browsing.</p>
                    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="index">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</section>